<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% for(var i in htmlWebpackPlugin.options.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.css[i] %>" />
    <% } %>
</head>

<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <script>
        window.isDiyApi = true; // 是否自定义Api地址
        window.isLoaded = false;
        // 等待script加载、解析完成后调用,除async 和 defer
        document.addEventListener("DOMContentLoaded",function() {
            if(!window.isLoaded) {
                alert("页面加载失败，请尝试清除浏览器缓存并刷新页面，仍有问题请联系管理员进行调查！");
            }
        });
    </script>
    <div id="app"></div>
    <% for(var i in htmlWebpackPlugin.options.scripts) { %>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.scripts[i] %>"></script>
    <% } %>
</body>

</html>